.form {
  background: #b0bec5;
  display: block;
  padding: 2% 4% 2% 2%;
  border-radius: 10px;
  box-shadow: 0 2px 8px #78909c;
  width: 90%;
  margin: 20px auto;
  gap: 1rem;
}

.form Input {
  width: 100%;
}

.expense {
    border-bottom: 1px solid #eceff1;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.expenseType {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.expense label {
  font-weight: bold;
}

.expense select {
  font: inherit;
  padding: 0.4rem 1.5rem;
  font-weight: bold;
  border-radius: 6px;
}
